.DoneTask{
    background-color:#274546;
    text-decoration: line-through;
    color:white;
}
.TodoTask{
    background-color:#D3D3D3;
    color:black;

}
.Task{
    border:solid 1px black;
    margin: 10px auto;
    height:30px;
    width:100%;
    padding-left:10px;
}
.TaskButton{
    font-size:0.8em;
    border-color: white;
    border-radius: 5px;
    margin-right: 5px;
    
}
.InputDiv{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 30px;
    
}
.AddButton{
    margin-top: 30px;
}
h5{
    text-align:center;
}
#bin{
    color:brown;
}
