*{
    margin:0;
    padding: 0;
}
.DoneTask{
    background-color:#274546;
    text-decoration: line-through;
    color:white;
}
.TodoTask{
    background-color:#D3D3D3;
    color:black;

}
.Task{
    border:solid 1px black;
    margin:15px auto;
    height:30px;
    width:50%;
    padding:0 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.TaskButton{
    font-size:0.8em;
    border-color: white;
    border-radius: 5px;
    margin-right: 5px;
    
}
.InputDiv{
    display: flex;
    flex-direction: column;
    margin: auto;
    width:50%;
    
}
.AddButton{
    margin-top: 30px;
}
input{
    padding-left: 10px;
}
h5{
    text-align:center;
}
@media(max-width:1050px){
    .InputDiv,.Task{
        width:90%;
    }
    .Task{
        height:55px;
        align-items: center;
    }
    h5,label,p{
   
        font-weight: 400;
    }
    .TaskIcons{
        margin-left: 5px;
    }
}
#bin{
    color:brown;
}
