<p>Task Count: {{GetTaskCount()}} &nbsp; Completed: {{GetDoneTaskCount()}} &nbsp; To Do:{{GetTaskCount()-GetDoneTaskCount()}}</p>
<div class="GroupBtnContainer">
    <label>Group By Category</label>
    <div class="cl-toggle-switch">
        <label class="cl-switch">
          <input type="checkbox" (change)="ToggleSwitch($event)">
          <span></span>
        </label>
      </div>
   </div>
<div  [ngClass]="{ 'NotVisibleSearchBar': this.isCategorized}" class="SearchBarContainer">
    <input #SearchInput id="SearchInput" placeholder="Search By Task Details" (change)="SearchResults(SearchInput)" class="SearchBar" />
   <div>
   <label for="Filter">Filter By</label>
   <select id="Filter" name="Filter" (change)="SearchResults(undefined ,$event)">
     <option value="All">All</option>
     <option value="To-Do">To-Do</option>
     <option value="Completed">Completed</option>
    </select>
   </div>
</div>
<div class="SearchBarContainer">
 <button class="DeleteAllTasksButton" (click)="DeleteAllTasks(SearchInput)">Delete All Tasks</button>
</div>
 <div *ngIf="!this.isCategorized">
    <div *ngIf="GetTaskCount()===0 || searchResults.length===0 ">
        <app-task-placeholder></app-task-placeholder>
    </div>
    <div class="Task" *ngFor="let task of searchResults"  [ngClass]="{ 'DoneTask': task.isDone , 'TodoTask': !task.isDone } ">
    <p>
     {{task.details}}
    </p>
    <div class="TaskIcons">
     <i class='fa-solid fa-square-check TaskButton' (click)="ToggleTask(task.id)"></i>
 
     <i class='fa-solid fa-trash-can TaskButton' id='bin' (click)="DeleteTask(task.id,SearchInput)"></i>
    </div>
</div>
</div> 
    <div *ngIf="this.isCategorized">
    <div *ngIf="GetTaskCount()===0 || searchResults.length===0 ">
        <app-task-placeholder></app-task-placeholder>
    </div>
    <div *ngFor="let category of GetCategories(); let i = index">
        <h4>{{ category[0] || "Uncatigorized" }}</h4>
       
            <div class="Task" *ngFor="let task of taskObject[category[0]]"  [ngClass]="{ 'DoneTask': task.isDone , 'TodoTask': !task.isDone } ">
                <p>
                 {{task.details}}
                </p>
                <div class="TaskIcons">
                 <i class='fa-solid fa-square-check TaskButton' (click)="ToggleTask(task.id)"></i>
             
                 <i class='fa-solid fa-trash-can TaskButton' id='bin' (click)="DeleteTask(task.id,SearchInput)"></i>
                </div>
            </div>
    </div>
</div>
<hr>
<div class="InputDiv">
   <p>Add New Task</p>
    <label>Task Title<span> *</span></label>
    <input #TaskInput class="AddTaskInput" placeholder="Add Your Task Here ...." maxlength="100">
    <label>Task Category</label>
    <input #TaskCategory class="AddTaskInput" placeholder="Add Your Task Category Here ...." maxlength="20">
    <button type="submit" class="AddButton" (click)="AddTask(TaskInput,TaskCategory,SearchInput)">Add</button>

</div>
