*{
    margin:0;
    padding: 0;
}
.DoneTask{
    background-color:#274546;
    text-decoration: line-through;
    color:white;
}
.TodoTask{
    background-color:#D3D3D3;
    color:black;

}
.Task{
    border:solid 1px black;
    margin:15px auto;
    height:30px;
    width:50%;
    padding:0 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.TaskButton{
    font-size:0.8em;
    border-color: white;
    border-radius: 5px;
    margin-right: 5px;
    
}
.InputDiv{
    display: flex;
    flex-direction: column;
    margin: auto;
    width:50%;
    
}
.AddButton{
    margin-top: 30px;
}
#SearchInput{
    width:180px;
}
#SearchInput,select{
    border-radius:10px;
}
.SearchBarContainer{
    display: flex;
    justify-content: space-evenly;
    width:400px;
    margin: auto;
    margin-top: 10px;
}
.DeleteAllTasksButton{
    background-color: white;
    border: none;
    text-decoration: underline;
    color:brown;
    font-size: 1.2em;
    font-weight: 600;
}
.AddTaskInput{
    margin-top: 5px;
}
.GroupBtnContainer{
    width:100%;
    display: flex;
    justify-content: center;
}
input{
    padding-left: 10px;
}
p,h5,h4{
    text-align:center;
}
label{
    margin-right: 10px;
}
select:focus,input:focus {
    border-color: #274546;
    outline: none;
    box-shadow: 0 0 2px #274546;
}
@media(max-width:1050px){
    .InputDiv,.Task{
        width:90%;
    }
    .Task{
        height:55px;
        align-items: center;
    }
    h5,label,p{
   
        font-weight: 400;
    }
    .TaskIcons{
        margin-left: 5px;
    }
}
#bin{
    color:brown;
}
hr{
    width:50%;
    margin: auto;
}
.NotVisibleSearchBar{
    display: none;
}
@media(max-width:400px){
    *{
        font-size: 0.95em;
    }
    .SearchBarContainer{
        width:100%;
    }
}
/* Toggle Switch  */
/* From Uiverse.io by lenin55 */ 
.cl-toggle-switch {
    position: relative;
   }
   
   .cl-switch {
    position: relative;
    display: inline-block;
   }
   /* Input */
   .cl-switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
   }
   /* Track */
   .cl-switch > span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgb(0, 0, 0, 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
   }
   /* Thumb */
   .cl-switch > span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
   }
   /* Checked */
   .cl-switch > input:checked {
    right: -10px;
    background-color: #85b8b7;
   }
   
   .cl-switch > input:checked + span::before {
    background-color: #85b8b7;
   }
   
   .cl-switch > input:checked + span::after {
    background-color: #018786;
    transform: translateX(16px);
   }
   /* Hover, Focus */
   .cl-switch:hover > input {
    opacity: 0.04;
   }
   
   .cl-switch > input:focus {
    opacity: 0.12;
   }
   
   .cl-switch:hover > input:focus {
    opacity: 0.16;
   }
   /* Active */
   .cl-switch > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
   }
   
   .cl-switch > input:active + span::before {
    background-color: #8f8f8f;
   }
   
   .cl-switch > input:checked:active + span::before {
    background-color: #85b8b7;
   }
   /* Disabled */
   .cl-switch > input:disabled {
    opacity: 0;
   }
   
   .cl-switch > input:disabled + span::before {
    background-color: #ddd;
   }
   
   .cl-switch > input:checked:disabled + span::before {
    background-color: #bfdbda;
   }
   
   .cl-switch > input:checked:disabled + span::after {
    background-color: #61b5b4;
   }