<p>Task Count: {{GetTaskCount()}} &nbsp; Completed: {{GetDoneTaskCount()}} &nbsp; To Do:{{GetTaskCount()-GetDoneTaskCount()}}</p>
<div class="SearchBarContainer">
    <input #SearchInput id="SearchInput" placeholder="Search By Task Details" (change)="SearchResults(SearchInput)" class="SearchBar" />
   <div>

   <label for="Filter">Filter By</label>
   <select id="Filter" name="Filter" (change)="SearchResults(undefined ,$event)">
     <option value="All">All</option>
     <option value="To-Do">To-Do</option>
     <option value="Completed">Completed</option>
    </select>
   </div>
</div>
<div class="SearchBarContainer">
 <button class="DeleteAllTasksButton" (click)="DeleteAllTasks(SearchInput)">Delete All Tasks</button>
</div>
<ul>
    <div *ngIf="GetTaskCount()===0 || searchResults.length===0">
        <app-task-placeholder></app-task-placeholder>
    </div>
    
    <div class="Task" *ngFor="let task of searchResults"  [ngClass]="{ 'DoneTask': task.isDone , 'TodoTask': !task.isDone } ">
    <p>
     {{task.details}}
    </p>
    <div class="TaskIcons">
     <i class='fa-solid fa-square-check TaskButton' (click)="ToggleTask(task.id)"></i>
 
     <i class='fa-solid fa-trash-can TaskButton' id='bin' (click)="DeleteTask(task.id,SearchInput)"></i>
    </div>
</div>
</ul>

<div class="InputDiv">
   <label>Add New Task</label>
    <input #TaskInput placeholder="Add Your Task Here ...." maxlength="100">
    <button type="submit" class="AddButton" (click)="AddTask(TaskInput,SearchInput)">Add</button>

</div>
